{% extends "base.html.twig" %}

{% block title %} 
    Modifier
{% endblock %}
{# page qui permet à l'admine d'ajouter ou modifier une formation/un stage #}
{% block body %}

    
    <h1>Modifier </h1>    
   
     

    <a href="{{path('formation', { id: avis.formation.id}) }}"> <--Retour</a> <br> <br>
    

    
    {{form(form)}}

    

{% endblock %}