
{# <footer class="text-center">
    <div class="container">
       &copy; Copyright 2021 by <a href="http://domain.invalid/">you</a>.
    </div>
</footer> #}

{# <footer class="footer mt-auto py-3 bg-light text-center" style="backgroun-">
    <div class="container">
        &copy; Copyright 2021 by <a href="http://domain.invalid/">you</a>.
    </div>
</footer> #}