{% extends 'base.html.twig' %}

{% block title %}ADMINISTRATEURS{% endblock %}

{% block body %}
<div class='container'>
<h1>Welcome chère Admin</h1>

 <ul>
    <li>
        <a href="{{ path('membre_blog_list') }}">Gestion du blog</a>
    </li>

    <li>
        <a href="{{path("admin_list_formations")}}">Gestion des formations et des stages</a>
    </li>
 </ul>

</div>


{% endblock %}
