{% extends "base.html.twig" %}

{% block title %}Permaculture au potager : 115 kg de récoltes sur 50 m2 dans un jardin familial

{% endblock %}

{% block body %}

        <div>
            <a href="{{ path('blog') }}" class="small text-dark text-decoration-none">&#8592;Retour</a>
        </div>    
 
    <img src="image/potager1.jpg" alt="potager" class="w-100">

    <div class="text-center">
        <h1>Permaculture au potager : 115 kg de récoltes sur 50 m2 dans un jardin familial</h1>
        <div class="lead">Publié le 28/01/2021 par Alice/L2A</div>
    </div>

    <div class="my-4">
   Là pour l’instant, on en est à 115 kilos de légumes, sur 50 m2. Donc, sur de très petites surfaces, on peut arriver à avoir des productions assez importantes. 

       
   On est en zone 1, qui est la zone cultivée la plus proche de la maison, avec, tout d’abord un grand parterre d’aromatiques, avec ce dont on se sert le plus dans la cuisine.

   Derrière moi il y a un parterre de fraises, une demande des enfants, et ils y vont très régulièrement. Et on a, derrière, un parterre d’artichauts et de rhubarbes. On est très consommateurs de rhubarbes dans la famille.

    Je voulais aussi avoir la serre pas loin, qui pour l’instant est encore cultivée, mais qui à terme sera une serre à semis, parce que j’aime bien sortir de la maison et aller surveiller les semis, plutôt que d’avoir besoin de traverser tout le terrain. Comme tu parlais de terrasse, on a une exposition sud / sud-est sur le terrain, il fait très chaud l’été et donc est devenu indispensable la construction d’une pergola, avec plus tard, les kiwis qui monteront dessus pour faire de l’ombre.

    <img src="" alt="" class="w-100">



    </div>


{% endblock %}