{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}


<div class="row" style="padding-top: 200px;">
    <div class="col-lg-8 mx-auto">

        <div class="text-center">
            <h4>CONTACTEZ-NOUS</h4>
            <h5>Une réponse vous sera faite sous 48h.</h5>
        </div>

        <form class="mt-4" method="POST">
            <div class="mb-3">
                <label for="email" class="form-label" >Email</label>
                <input type="email" placeholder="jdupont@gmailcom" class="form-control" name="email" id="email">
            </div>

            <select class="form-select" aria-label="Default select example">
                <option selected>Choisissez un thème</option></option>
                <option value="1">l'association</option>
                <option value="2">le blog</option>
                <option value="3">les stages et formations</option>
                <option value="4">autres</option>
            </select>
          
            <div class="mb-3">
                <label for="message" class="form-label" >Message</label>
                <textarea name="message" class="form-control" id="message" rows="10">
                </textarea>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-warning">Envoyer</button>
            </div>
  
        </form>
    </div>
</div>

{% endblock %}
