
<!DOCTYPE html>
<html>
    {% set route_name = app.request.attributes.get("_route") %}
    <head>

        <meta charset="UTF-8" />
        <meta name="description" content="description" />
        <meta name="keywords" content="keywords" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{% block title %}Projet écologique{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        {# Bootstrap #}
        {# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> #}

        {# ower stylsheet #}
        <link rel="stylesheet" href="{{ asset('css/styles.min.css') }}">

        <script src="https://kit.fontawesome.com/69b2e80e9a.js" crossorigin="anonymous"></script>
        <!-- Chargement des WebFonts-->
        <script>
            WebFontConfig = {

                google: {

                    families: ['Nunito+Sans:300,400,500,700,900', 'Quicksand:300,400,500,700'],

                }

            }

            function font() {

                var wf = document.createElement('script')

                wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js'
                wf.type = 'text/javascript'
                wf.async = 'true'

                var s = document.getElementsByTagName('script')[0]

                s.parentNode.insertBefore(wf, s)

            }

            font()
        </script>
    </head>
    <body>

        <div class="page-wrapper">      
            {{ render(controller('App\\Controller\\BaseController::header',
                {'routeName' : route_name}
            ))}}
            
    
            {% include "base/_flash.html.twig" %}
            {% block body %}{% endblock %}
            
                
        

            <footer >
                {% include "base/_footer.html.twig" %}
            </footer>


            {% block javascripts %}{% endblock %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
            <script src="js/libs.min.js"></script>

            <script src="{{ asset('js/common.js') }}"></script>
        </div>
        
    </body>
</html>